---
layout: default
---

<div class="blog-posts">
  {% for post in paginator.posts %}
  <div class="blog-post">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <span class="blog-post-meta">
      Posted on {{ post.date | date: "%b %-d, %Y" }}
    </span>
    <div class="blog-post-content">
      <p>{{ post.content | split: '<!-- break -->' | first | strip_html | truncatewords: 30 }}</p>
    </div>
    <a
      href="{{ post.url }}"
      class="blog-post-read-more">Read more</a>
  </div>
  {% endfor %}
</div>
