<footer>
  <div class="footer-links">
    <a
      href="https://github.com/richardsolomou"
      target="_blank"><i class="fa fa-github"></i></a>
    <a
      href="https://linkedin.com/in/richardsolomou"
      target="_blank"><i class="fa fa-linkedin"></i></a>
    <a
      href="https://twitter.com/richardsolomou"
      target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="mailto:richard@richardsolomou.com"><i class="fa fa-envelope"></i></a>
  </div>
  <p>&copy; {{ site.time | date: '%Y' }} Richard Solomou</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-35567663-1', 'auto');
  ga('send', 'pageview');
</script>
