<nav>
  <ul>
    {% for link in site.navigation %}
      {% assign state = nil %}
      {% capture linkURL %}{{ link.url }}/{% endcapture %}
      {% if page.url == link.url or page.url == linkURL or
            link.url == '/' and
            (paginator.total_pages or page.layout == 'post') %}
        {% assign state = 'active' %}
      {% endif %}
      <li>
        <a
          href="{{ link.url }}"
          class="{{ state }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
