<ul class="blog-pagination">
  <li class="blog-pagination-previous">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
      <span><i class="fa fa-chevron-left"></i></span>
    {% endif %}
  </li>

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li><span class="active">{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="/">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  <li class="blog-pagination-next">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
      <span><i class="fa fa-chevron-right"></i></span>
    {% endif %}
  </li>
</ul>
