html {
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.5px;
}

body {
  background-color: $bg;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

a {
  color: $grey;
  transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;

  &:hover {
    color: $green;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;

  main {
    background-color: #fff;
    border-bottom: 1em solid $green;
    color: $grey;
    line-height: 1.5;
    padding: 2em 13%;

    @media (max-width: 991px) {
      padding: 2em 5%;
    }

    h1 {
      text-align: center;
    }

    h2 {
      margin-top: 1.5em;

      i {
        background-color: $white;
        color: $green;
        margin-right: .3em;
        padding: .5em;
      }
    }
  }
}
