.blog-post {
  @include clearfix;
  margin-bottom: 3em;

  h1 {
    a {
      text-decoration: none;
    }
  }

  .blog-post-meta {
    color: lighten($grey, 15);
    display: block;
    font-size: .9em;
    text-align: center;
  }

  .blog-post-content {
    @include clearfix;
  }

  .blog-post-read-more {
    border: 2px solid $green;
    color: $green;
    display: table;
    margin: 0 auto;
    opacity: .5;
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }

  .blog-post-author {
    @include clearfix;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    margin: 2em 0;
    padding: 1em 0;

    @media (max-width: 425px) {
      text-align: center;
    }

    .blog-post-author-photo {
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
      float: left;
      height: 100px;
      width: 100px;

      @media (max-width: 425px) {
        float: none;
      }
    }

    .blog-post-author-content {
      padding-left: 130px;

      @media (max-width: 425px) {
        padding-left: 0;
      }

      h3 {
        margin: 0;
      }
    }
  }
}
