header {
  margin: 2em auto 0 auto;
  padding: 0 13%;
  text-align: center;

  @media (max-width: 991px) {
    padding: 0 5%;
  }

  .header-photo {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    height: 150px;
    margin: 0 auto;
    vertical-align: middle;
    width: 150px;
  }
}
