nav {
  background-color: $green;
  min-height: 53px;

  ul {
    @include clearfix;
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      text-align: center;
      float: left;

      a {
        @include clearfix;
        color: $white !important;
        display: inline-block;
        font-size: .8em;
        margin: .5em;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background-color: darken($green, 10);
        }

        &.active {
          background-color: $bg !important;
        }
      }
    }
  }
}
