.blog-pagination {
  @include clearfix;
  background-color: $green;
  list-style: none;
  margin: -1em 0 0 0;
  padding: .5em;
  text-align: center;

  li {
    @include clearfix;
    display: inline-block;
    margin: 0;

    &.blog-pagination-previous,
    &.blog-pagination-next {
      float: left;

      @media (max-width: 991px) {
        float: none;
      }

      a,
      span {
        display: block;
        font-weight: bold;
      }
    }

    &.blog-pagination-next {
      float: right;

      @media (max-width: 991px) {
        float: none;
      }
    }

    span {
      padding: .5em;
      visibility: hidden;

      &.active {
        background-color: darken($green, 10);
        color: $white;
        visibility: visible;
      }
    }

    a {
      @include clearfix;
      color: $bg;
      display: block;
      padding: .5em;
      text-decoration: none;

      &:hover {
        background-color: $white;
      }
    }
  }
}
