<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Blog Feed" href="{{ site.url }}/feed.xml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Richard Solomou">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/img/logo-hr.jpg">
    <meta name="twitter:site" content="@richardsolomou">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="fb:app_id" content="577349725698768">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/img/logo-hr.png">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      {% include nav.html %}
      <main>
        {{ content }}
      </main>
      {% if paginator %}
        {% include pagination.html %}
      {% endif %}
      {% include footer.html %}
    </div>
  </body>
</html>
