---
layout: default
---

<div class="blog-post">
  <h1>{{ page.title }}</h1>
  <span class="blog-post-meta">
    Posted on {{ page.date | date: "%b %-d, %Y" }}
  </span>
  <div class="blog-post-content">
    {{ content }}
  </div>
  <div class="blog-post-author">
    <img
      src="/img/richard.png"
      alt="{{ site.title }}"
      class="blog-post-author-photo">
    <div class="blog-post-author-content">
      <h3>Richard Solomou</h3>
      <p>{{ site.description }}</p>
    </div>
  </div>

  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = 'richardsolomou';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>
